<div class="row">
  <div class="col-md-12">
    <div class="survey-container" style="max-width: 1000px; margin: 0 auto;">
      <!-- Instance section without scrollable content -->
      <div name="context_text" class="instance" style="width: 100%; margin-bottom: 30px;">
        <div id="instance-text" name="instance_text">
          {{instance | safe}}
        </div>
      </div>
      
      <!-- Annotation section -->
      <div class="annotation_schemas" style="width: 100%; display: flex; flex-direction: column; gap: 20px;">
        {{annotation_schematic}}
      </div>
    </div>


    <div style="height: 20px;"></div>
  </div>
</div>